@tailwind base;
@tailwind components;
@tailwind utilities;

@theme inline {
  --font-main: var(--font-inter);
  --font-serif: var(--font-ibm-plex-serif);
}

@theme {
  --color-bank-gradient: #0179fe;

  /* Fill */
  --color-fill-1: rgba(255, 255, 255, 0.1);

  /* Indigo */
  --color-indigo-500: #6172f3;
  --color-indigo-700: #3538cd;

  /* Success */
  --color-success-25: #f6fef9;
  --color-success-50: #ecfdf3;
  --color-success-100: #d1fadf;
  --color-success-600: #039855;
  --color-success-700: #027a48;
  --color-success-900: #054f31;

  /* Pink */
  --color-pink-25: #fef6fb;
  --color-pink-100: #fce7f6;
  --color-pink-500: #ee46bc;
  --color-pink-600: #dd2590;
  --color-pink-700: #c11574;
  --color-pink-900: #851651;

  /* Blue */
  --color-blue-25: #f5faff;
  --color-blue-100: #d1e9ff;
  --color-blue-500: #2e90fa;
  --color-blue-600: #1570ef;
  --color-blue-700: #175cd3;
  --color-blue-900: #194185;

  /* Sky */
  --color-sky-1: #f3f9ff;

  /* Black */
  --color-black-1: #00214f;
  --color-black-2: #344054;

  /* Gray */
  --color-gray-25: #fcfcfd;
  --color-gray-200: #eaecf0;
  --color-gray-300: #d0d5dd;
  --color-gray-500: #667085;
  --color-gray-600: #475467;
  --color-gray-700: #344054;
  --color-gray-900: #101828;

  --shadow-form: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  --shadow-chart: 0px 1px 3px 0px rgba(16, 24, 40, 0.1),
    0px 1px 2px 0px rgba(16, 24, 40, 0.06);
  --shadow-profile: 0px 12px 16px -4px rgba(16, 24, 40, 0.08),
    0px 4px 6px -2px rgba(16, 24, 40, 0.03);
  --shadow-creditCard: 8px 10px 16px 0px rgba(0, 0, 0, 0.05);

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    0% {
      height: "0";
    }

    100% {
      height: "var(--radix-accordion-content-height)";
    }
  }

  @keyframes accordion-up {
    0% {
      height: "var(--radix-accordion-content-height)";
    }

    100% {
      height: "0";
    }
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.glassmorphism {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.custom-scrollbar::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  border-radius: 2px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #dddddd;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #5c5c7b;
  border-radius: 50px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #7878a3;
}
